<!-- carrousel -->
<section id="myCarousel" class="carousel slide indicators-wrap" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item img-cr">
	     <%= image_tag 'c1.jpg', :class => "grey-scale" %>
	     <div class="carousel-caption">
		    <h3>Ko_Traders permite comprar, vender bitcoins o cualquier moneda virtual al mejor precio. Ko_Trasders gestiona y optimiza tu cartera virtual, invierte con nosotros, nuestros traders automáticos vigilan tu inversión y la multiplican</h3>
		  </div>
    </div>	
    <div class="item img-cr">
	     <%= image_tag 'c2.jpg', :class => "grey-scale" %>
	     <div class="carousel-caption">
		    <h3>Con Ko_Traders podras pagar en moneda virtual ahorrando comisiones bancarias y moviendo divisas a cualquier parte del mundo en segundos.</h3>
		  </div>
    </div>
    <div class="item img-cr">
	     <%= image_tag 'c3.jpg', :class => "grey-scale" %>
	     <div class="carousel-caption">
		    <h3>Proporcionamos soluciones personalizadas a empresas basadas en Moneda Virtual y Ripples: gestión de carteras de moneda virtual y networks independientes de la gestión bancaria</h3>
		  </div>
    </div>
  </div>
 
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <i class="icon-chevron-sign-left"></i>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span><i class="icon-chevron-sign-right"></i></span>
  </a>
</section><br>
<!-- fin carrousel -->

<!-- zona conceptos, 3 columnas -->
	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <%= image_tag 'img6.jpg', :class => "img-circle custom-circle" %>
	      <div class="caption">
	        <h3>Encabezado 1</h3>
	        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <%= image_tag 'img1.jpg', :class => "img-circle custom-circle" %>
	      <div class="caption">
	        <h3>Encabezado 2</h3>
	        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <%= image_tag 'img7.jpg', :class => "img-circle custom-circle" %>
	      <div class="caption">
	        <h3>Encabezado 3</h3>
	        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>

<!-- fin zona conceptos, 3 columnas -->

	<!--formulario d contacto-->
		<%= form_tag remote: true, :url => welcome_contact_path, :html => {:method => :post, :class => "form-horizontal"} do %>

		  <div class="col-lg-12 col-sm-12 contact-info text-left">
		    <p class="title-contact-info">Contactar</p>
		    <p class="text-contact-info">Es posible contactarno en el email info@kotraders.com </p><br><br>
		    
		  </div>
		  <div class="col-lg-12 col-sm-12 form-contact">
		    <div class="col-md-12">
		      <div class="contact-form-input">
		        <p class="input-title text-left">Nombre</p>
		        <%= text_field_tag :name, :class => "form-control input-box contact-form-box" %>
		      </div>
		      <div class="contact-form-input">
		        <p class="input-title text-left">Email</p>
		        <%= email_field_tag :email, :class => "form-control input-box contact-form-box" %>
		      </div>
		      <div class="contact-form-input">
		        <p class="input-title text-left">Mensaje</p>
		        <%= text_area_tag :message, :class => "form-control textarea-box contact-form-box", :rows => "5" %>
		      </div>
		    </div>
		  </div>
		    <div class="col-md-12 col-lg-12">
		      <div class="row">
		        <button class="btn btn-primary custom-button blue-btn" type="submit">Enviar</button>
		      </div>
		    </div>
		<% end %>
<!--fin formulario d contacto-->

	<div class="clearfix"></div>

<h1>Esto es el Welcome!!!</h1>

<h3>Parseado: <br>
	<div id="values_box">
		<%= @parseJson %><br><br> <!-- pinto todos los valores tipo hash -->
	</div>
</h3>

<h3>Pintar el valor 'updated' del json parseado:
	<div id="updatedValue"><%= @parseJson["btc_usd"]["updated"] %></div> <!-- elijo un valor aislado sacandolo del hash -->
</h3>

<h3>Pintar el valor <strong>'buy'</strong> que es que se actualiza en la <strong>gráfica</strong>:
  <div id="buyValue2"><%= @parseJson["btc_usd"]["buy"] %></div> <!-- elijo un valor aislado sacandolo del hash -->
</h3>